# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/

# Training artifacts
checkpoints/
lightning_logs/
tb_logs/
wandb/

# Data & Configs (usually kept local)
data/


# Notebooks
notebooks/

# Distribution / Build
dist/
build/
*.egg-info/